<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset = "UTF-8">
	<title> National Parks </title>

	<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
	<script src="bower_components/leaflet/dist/leaflet.js" type="text/javascript"></script>
	<link href="bower_components/leaflet/dist/leaflet.css" rel="stylesheet" />
<!-- 	<script src="bower_components/react/react-dom.min.js"></script>
	<script src="bower_components/react/react.min.js"></script>
		<script src="bower_components/babel/browser.min.js"></script> -->
		    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.16/browser.js"></script>
	<link href="css/style.css" rel="stylesheet" />
	<script src="https://use.typekit.net/eer1jct.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

</head>

<body>

	<div class="container" id="frame">

		<div class="row" id="headerrow">
			<span href="#" id="title"> Media in the<br>National Parks </span>
			<img src="/imgs/arrowhead.svg" alt="arrowhead logo" id="arrowhead" class="img-responsive">
		</div>

		<div class="row" id="intro">
			<div id="overlay"></div>	
			<div class="col-md-2"></div>
			<div class="col-md-8" id="content">
				<p> 
				Lorem ipsum dolor sit amet, decore feugait mnesarchum et sit, ea vis postea reprimique concludaturque. Putant mediocrem usu in. An vero dicant mea, tale omittam pro id. Porro semper ei eum, in virtute principes maiestatis his. Sit ornatus verterem te, in pri dolor doming vocent, homero voluptatum percipitur usu ad. In eum esse aliquando, errem commodo intellegat mei ne, ad vis magna eligendi deserunt.
				</p>
				<p>
				Summo vulputate temporibus mei et, id usu modo conclusionemque, est te mucius appareat sadipscing. Case feugiat oportere mel te, te eum nemore aliquip instructior. Est elit viderer in. Te ius nihil mentitum, eu eam paulo melius tacimates. No quo ullum consulatu disputando, in vocent contentiones duo, ei commodo propriae eloquentiam sed. Ei populo praesent omittantur vel. Nibh antiopam te has, cu cum mediocrem eloquentiam.
				</p>
				<p>
				Assum perfecto ex mea, sit te liber scaevola reprimique. Eu per choro animal mediocritatem, paulo admodum oporteat mel id, eius tation consulatu vim no. Zril sanctus elaboraret te sit, inermis dolores abhorreant eam et, admodum civibus definitiones et ius. Usu enim pertinax et. An movet decore persius quo, persius maiorum molestiae quo eu, quidam fabulas philosophia sea ne. 
				</p>
			
			</div>
			<div class="col-md-2"></div>
		</div>

		<div id="reactContainer">
			<!-- button section -->
			<div class="container-fluid" id="buttonContainer">
				
	        </div>

	        <!-- map section -->
	        <div class="row" id="infoRow">
				<div class="col-md-8 row-eq-height" id="mapContainer">
					<div id="map"></div>

				</div>
				<div class="col-md-4 row-eq-height" id="infoContainer"> 
					<!-- card built here -->
				</div>
			</div>
		</div>


		<!-- footer section -->
		<div class="row" id="bottom">
			<div class="col-md-12"> Conclusions </div>
			<div class="col-md-12" id="footer"> 
				<p> Header image courtesy of <a href="https://www.flickr.com/photos/ddebold/" target="_blank">Don DebBold</a> on Flickr via Creative Commons License.
			</div>
		</div>
	</div>

	<script type="text/babel" src="js/cardBuild.js"></script>
	<script src="js/script.js"></script>
</body>


<!-- 				<form id="myform">
					<input type="text" value="name" id="namefield">
					<input type="text" value="number" id="valfield">
				</form> 
				<button id="submit">Click</button>-->

</html>