<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset = "UTF-8">
	<title> National Parks </title>
	<link href = "bower_components/bootstrap-css/css/bootstrap.min.css" rel="stylesheet" />
	<script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
	<link href = "css/style.css" rel="stylesheet" />
	<script src="https://use.typekit.net/eer1jct.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

</head>

<body>

	<div class="container" id="frame">
		<div class="row" id="headerrow">
			<span href="#" id="title"> Media in the<br>National Parks </span>
			<img src="/imgs/arrowhead.svg" alt="arrowhead logo" id="arrowhead" class="img-responsive">
		</div>	
		<div class="row" id="intro">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<p> 2016 marks the 100th anniversary of the founding of the National Park Service.  The parks continue to grow in popularity, with a record 307 million visitors in 2015.  411 park sites span over 84 million acres of US land.  This includes historic sites, lakeshores, national monuments and, most notably, those sites designated as National Parks.  
				</p>
				<p>
				The National Parks preserve and protect our most important natural landscapes.  Generations of people from across the world are given the chance to experience their beauty, and learn a lifetime of appreciation for the outdoors.  
				</p>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="row">
			<div class="col-md-8" id="form">md-8 col</div>
			<div class="col-md-4" id="btn">md-4 col</div>
		</div>
	</div>

	<script src="js/script.js"></script>
</body>


<!-- 				<form id="myform">
					<input type="text" value="name" id="namefield">
					<input type="text" value="number" id="valfield">
				</form> 
				<button id="submit">Click</button>-->

</html>