html {
	font-size: 100%;
}

body {
	background-color: #3C5F36;
	color: white;
	font-family: 'Open Sans', sans-serif;
  	font-weight: 300;
}

#frame {
	background-color: #3C5F36;
}

#headerrow {
	background-color: #101010;
	/*font-family: "Times New Roman", serif;*/
	font-family: 'Roboto', sans-serif;
    font-weight: 500;
	font-size:5em;
}

/* DEBUG */
div {
	/*outline:#7AC043 solid 1px;*/
}

#title {
	text-align: left;
	display:inline;
	float:left;
	padding: 2%;
	vertical-align: middle;
	color: #FFF;
	line-height: 110%;
	/*background-color: red;*/ /* DEBUG */
}

#arrowhead {
	float: right;
	margin: 2% 2% 2% 0;
	max-width: 100%;
	height:auto;
	width:15%;
	/*background-color: white;*/ /* DEBUG */
}

#intro {
	background-image: url("../imgs/header.jpg");
	background-size: cover;
	position: relative;
/*	-webkit-filter: blur(3px);
	filter: blur(3px);*/
}

#content {
	padding: 2em 0em 2em 0em; 
}

#contentBold {
	font-weight: 600;
	background-color: white;
	color: #101010;
	padding: 0.5em;
}
#content, #explore, #bottom {
	text-align: center;
	font-size: 1.3em;
	color: #FFF;
	z-index: 99;
}

.sectHead {
/*	font-family: "Times New Roman", serif;*/
	font-family: 'Roboto', sans-serif;
	background-color: #101010;
	color: #FFF;	
	font-weight:500;
	letter-spacing: 0.09rem;
	font-size: 3rem;
	padding:0.5em;
	margin-bottom: 0;
}

#explore {
	border-top:0.25rem solid #FFF;
	padding-left: 0;
	padding-right: 0;
}

#bottom {
	margin-top: 0.5em;
	border-top: 0.25rem solid #FFF;
	background-color: #101010;
	padding-bottom:3em;
}

#explore, #bottom h1 {
	margin-top: 0.5rem;
}

#overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: #000;
	opacity:0.7;
}

/* keep map/info rows the same height */
#infoRow {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}

.btn-group {
	outline:none;
}

/* --- Thanks Bass Jobsen on S.O. for this boostrap4 fix */
.btn-group-justified {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-collapse: separate; 
}
.btn-group-justified .btn,
.btn-group-justified .btn-group {
    float: none;
    display: table-cell;
    width: 1%; }
.btn-group-justified .btn .btn,
.btn-group-justified .btn-group .btn {
      width: 100%; 
}
.btn-group-justified .btn .dropdown-menu,
.btn-group-justified .btn-group .dropdown-menu {
	left: auto; 
 }
/*   --- */

.btn {
	border-radius: 0px;
	outline: none;
	color:#FFF;
	background-color:#101010;
}

.btn:hover, .btn:active, .btn:focus {
	background-color: #7AC043;
	box-shadow:none;
	outline: none;
}

#buttonContainer {
	padding:0 0 0 0;
	outline:none;
	margin-left:-15px;
	margin-right:-15px;
	/*border-bottom: 0.25rem solid #FFF;*/
}

#mapContainer {
	font-size: 25px;
	padding: 0 0 0 0;
}

#infoContainer {
	font-size: 16px;
}

/* Need some media queries to resize */
#map {
	height:600px;
	width:auto;
}

.popup {
	color: black;
	font-size: 1.25em;
	text-decoration: none;
}

#popupUser {
	font-weight:600;
}

/*.popupTitle {
	color: black;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 1.5em;
	font-weight: bold;
}*/

#popupPic {
	width:250px;
	height:auto;
	/*border: 2px solid #3C5F36 ;*/  /*Not sure if this looks ok..*/
}
.leaflet-container a.leaflet-popup-close-button {
	color: #757575;
}

.custom-popup .leaflet-popup-content-wrapper {
	background:#FFF;
	color:#FFF;
	text-align:center;

}
.custom-popup .leaflet-popup-content-wrapper a {
	color:#000;
}
.custom-popup .leaflet-popup-tip-container {
	/*  width:30px;
	height:15px;*/
}
.custom-popup .leaflet-popup-tip {
	border-left:15px solid transparent;
	border-right:15px solid transparent;
	background: #FFF;
}

#mapCard {
	position: absolute;
	top: 1em;
	right: 1em;
	z-index: 10;
	width: 200px;
	height: auto;
	background: hsla(0,100%,100%,0.8);
	margin: 1em;
	font-family: sans-serif;
	font-size: 13px;
	padding: 5px;
	padding-bottom: 1em;
	border-radius: 3px;
}

#mapCard h4 {
	text-align: center;
	color: #000;
/*	font-family: "Times New Roman", serif;*/
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 1.75em;
	margin-bottom: 0;
	padding-bottom: 0.5rem;
}

hr {
	margin-top: 0;
	margin-bottom: 0.5em;
	color: #000;
	background-color: #000;
	height: 0.2em;
}

#hrtest {
	margin-top: 0;
	margin-bottom: 0.5em;
	color: #FFF;
	background-color: #FFF;
	height: 0.15em;
}
.cardAttrs {
	
	font-weight: bold;
	color: #777;
}

.cardVals {
	font-weight: normal;
	color: #777;
}

#cardList {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

.cardItem {
	padding:0.2rem;
}


#conclusions {
	text-align: left;
	font-family: 'Open Sans', sans-serif;
  	font-weight: 300;
  	padding: 0 0 0 0.5em;  
}

#conclusions p {
	font-size: 0.8em;
}

#conclusions h2 {
	/*font-family: "Times New Roman", serif;*/
	font-family: 'Roboto', sans-serif;
	margin-top:3em;
}

a {
	color: #7AC043;
}

a:hover, a:active {
	color: #D9534F;
}

#loc {
	display:block;
}

#insideText {
	margin-left: 0;
	margin-right: auto;
	float:left;
	width:50%;
	
}

#insideCont {
	width: 100%;
	float:left;
	margin-bottom: 2em;
}


.dataTable {
	font-size: 0.8em;
	width: 40%;
	margin-left: auto;
	margin-right: 0;
}

.d3chart {
	margin: -2em 0 0 0.8em
}

#footer {
	margin-top:1%;
	font-size: 0.8em;
}

#footer p {
	margin-bottom: 0;
}
@media (max-width: 775px) {
	body {
		background-color: red;
	}

	#map {
		width:200px;
		height:auto;
	}
}