body {
	background-color: #3C5F36;
	color: white;
	text-align: center;
  	font-family: "myriad-pro";
  	font-weight: lighter;
}

#frame {
	background-color: #FFFFFF;
	border: white solid 2px;
}

#headerrow {
	/*border: white solid 2px;*/
	background-color: #000000;
	font-family: "Times New Roman", serif;
	font-size:5em;
	border-bottom: white solid 2px;
}

/* DEBUG */
div {
	/*outline:#7AC043 solid 1px;*/
}

#title {
	text-align: left;
	display:inline;
	float:left;
	padding: 2%;
	vertical-align: middle;
	/*background-color: red;*/ /* DEBUG */
}

#arrowhead {
	float: right;
	margin: 2% 2% 2% 0;
	max-width: 100%;
	height:auto;
	width:15%;
	/*background-color: white;*/ /* DEBUG */
}

#intro {
	padding-top: 10px;
	font-size: 1.5em;
	color: #FFF;
	background-image: url("../imgs/glacier.jpg");
	background-size: 100%;
	background-repeat: none;
	position: relative;
}

#overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: #000;
	opacity:0.6;
}

/* keep map/info rows the same height */
#infoRow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.btn-group {
	outline:none;
}

#buttonContainer {
	padding:2% 0 2% 0;
	outline:none;
}

#mapContainer {
	/*background-color: gray;*/
	font-size: 25px;
}

#infoContainer {
	background-color: #7AC043;
	font-size: 16px;
	border: white solid 3px;
}

/* Need some media queries to resize */
#map {
	height:480px;
	width:auto;
/*	margin-left: -15px;
	margin-right: -15px;*/  /* Will want this if I change bg color */
	border: white solid 3px;
}


