body {
	background-color: #33440D;
	color: white;
	text-align: center;
  	font-family: "myriad-pro";
  	font-style: bold;
}

#frame {
	background-color: white;
	/*border: white solid 2px;*/
}

#headerrow {
	/*border: white solid 2px;*/
	background-color: black;
	font-family: "Times New Roman", serif;
	font-size:5em;
}

/* DEBUG */
div {
	outline:#7AC043 solid 1px;
}

#title {
	text-align: left;
	display:inline;
	float:left;
	padding: 2%;
	vertical-align: middle;
	/*background-color: red;*/
}

#arrowhead {
	float: right;
	margin: 2% 2% 2% 0;
	max-width: 100%;
	height:auto;
	width:15%;
	/*background-color: white;*/
}

#intro {
	padding-top: 10px;
	font-size: 1.5em;
	color:black;
}

/* keep rows the same height */
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}

.btn-group {
	outline:none;
}

#buttonContainer {
	padding:2% 0 2% 0;
	outline:none;
}

#mapContainer {
	background-color: gray;
	font-size: 25px;
}

#infoContainer {
	background-color: #7AC043;
	font-size: 16px;
}

#map {
	height:480px;
}
